#authPane {
	-fx-background-image: url("../../images/background-image.png");
	-fx-background-position: center;
	-fx-background-size: cover;
}
#authBox {
	-fx-background-color: rgba(52, 53, 53, 0.8);
	-fx-background-radius: 30px;
}
#authSelectorButton, #authSelectorButton2 {
	-fx-background-color: #eaeaea;
	-fx-background-radius: 15px;
}
#authSelectorButton:hover, #authSelectorButton2:hover {
	-fx-background-color: #D5D5D5;
	-fx-background-radius: 15px;
}
#emailField, #passwordField {

	-fx-background-color: transparent;
	-fx-text-fill: #eaeaea;
}
#emailFieldBox, #passwordFieldBox {
	-fx-border-color: #eaeaea ;
    -fx-border-width: 2;
   	-fx-border-radius: 15px;
}
#loginButton {
	-fx-background-color: #0A8AE5;
	-fx-background-radius: 15px;
}
#loginButton:hover {
    -fx-background-color: #087CCF;
}
#forgotPassword {
    -fx-text-fill: #0A8AE5;
}