#authPane {
	-fx-background-image: url("../../images/background-image.png");
	-fx-background-position: center;
	-fx-background-size: cover;
}
#authBox {
	-fx-background-color: rgba(52, 53, 53, 0.8);
	-fx-background-radius: 30px;
}
#authSelectorButton, #authSelectorButton2 {
	-fx-background-color: #eaeaea;
	-fx-background-radius: 15px;
}
#userField {
	-fx-border: 1px solid white;
	-fx-background-color: transparent;
}